module {{.GitRepo}}

go 1.21

require (
	github.com/vampirenirmal/orchestrator v1.0.0
)

// For local development, uncomment the following line:
// replace github.com/vampirenirmal/orchestrator => ../../